/*
--------------
GLOBAL & RESET
--------------
*/

:root {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: "minion-pro", serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/*
----------
TYPOGRAPHY
----------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
/*  font-family: "brandon-grotesque", sans-serif; */
}

a {
/*   text-decoration: none; */
}

a:hover {
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.page-title {
  font-weight: 400;
  font-size: 2em;
}

/*
------------------
LAYOUT & STRUCTURE
------------------
*/

.flex,
.page {
  padding: 1em;
  margin: 0 auto;
}

.intro {
  display: flex;
  height: 100vh;
}

.intro ul li {
  display: inline-block;
  margin-right: .25em;
}

section {
  margin-bottom: 4em;
}

/*
-------------
MEDIA QUERIES
-------------
*/

@media (min-width: 768px) {

  :root {
    font-size: 110%;
  }

  .wrapper {
    max-width: 30em;
  }

  .flex,
  .page {
    padding: 2em;
    max-width: 45em;
    margin: auto;
  }

  .page-title {
    font-size: 2.25em;
  }

}

@media (min-width: 1024px) {

  :root {
    font-size: 120%;
  }

}
