/*
--------------
GLOBAL & RESET
--------------
*/

:root {
  font-size: 110%;
}

body {
  margin: 0;
  color: #58595b;
  font-family: "minion-pro", serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/*
----------
TYPOGRAPHY
----------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", sans-serif;
}

a {
  color: #231f20;
}

a:hover {
  color: #ff544f;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.page-title {
  font-family: "minion-pro", serif;
  font-size: 3em;
  font-weight: 400;
}

.section-title,
.section-subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-title {
  color: #c2d6c4;
}

.section-subtitle {
  margin: 4em 0 -1em;
}

.section-subtitle:first-of-type {
  margin: 1em 0 -1em;
}

.no-border {
    border: none;
}

.lead {
  font-size: 125%;
  font-style: italic;
}

.read-more {
  opacity: 0.25;
  font-size: 85%;
  font-style: italic;
}

/*
------------------
LAYOUT & STRUCTURE
------------------
*/

.wrapper {
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 30em;
}

.intro .wrapper {
  /*margin: 10em 20em;*/
  max-width: 50em;
}

section {
  margin-bottom: 4em;
}

.page {
  max-width: 30em;
}

.avatar {
  width: 8em;
  border-radius: 8em;
}

.twitter {
  margin: 1em 0;
}

.twitter cite {
  opacity: 0.5;
  font-size: 0.75em;
}

/*
-------------
MEDIA QUERIES
-------------
*/

@media (min-width: 768px) {
  :root {
    font-size: 115%;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 120%;
  }
}
