/*
--------------
GLOBAL & RESET
--------------
*/

* {
  box-sizing: border-box;
}

:root {
  font-size: 110%;
}

body {
  margin: 0;
  /*font-family: 'Inconsolata', monospace;*/
  /*font-family: 'Open Sans', sans-serif;*/
  color: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}


/*
----------
TYPOGRAPHY
----------
*/

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

a {
  /*color: #58595b;*/
}

a:hover {
  /*color: #ff544f;*/
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.page-title {
  /*font-family: "minion-pro", serif;
  font-weight: 400;
  font-size: 2em;*/
}

.section-title,
.section-subtitle {
  /*text-transform: uppercase;
  letter-spacing: 1px;*/
}

.section-subtitle {
  /*margin: 4em 0 -1em;*/
}

.section-subtitle:first-of-type {
  /*margin: 1em 0 -1em;*/
}

.lead {
  /*font-size: 110%;
  font-style: italic;*/
}

/*
------------------
LAYOUT & STRUCTURE
------------------
*/

.flex,
.page {
  /*padding: 1em;*/
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  /*align-items: center;*/

}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav li {
  margin-left: 1em;
}

section {
  /*margin: 5em 0;*/
}

/*
-------------
MEDIA QUERIES
-------------
*/

@media (min-width: 768px) {

  :root {
    /*font-size: 120%;*/
  }

  .wrapper {
    /*max-width: 30em;*/
  }

  .flex,
  .page {
    /*padding: 2em;*/
    /*max-width: 40em;*/
  }

}

@media (min-width: 1024px) {

  :root {
    /*font-size: 130%;*/
  }

}
