/*
--------------
GLOBAL & RESET
--------------
*/

:root {
  font-size: 110%;
}

body {
  margin: 0;
  color: #222;
  font-family: "minion-pro", serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/*
----------
TYPOGRAPHY
----------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", sans-serif;
}

a {
  color: #222;
}

a:hover {
  color: #eb7966;
}

ul {
  padding-left: 1em;
}

.page-title {
  font-family: "minion-pro", serif;
}

.section-title {
  font-weight: 300;
  color: #eb7966;
}

.section-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lead {
  font-size: 125%;
}

/*
------------------
LAYOUT & STRUCTURE
------------------
*/

.wrapper {
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 30em;
}

section {
  margin-bottom: 4em;
}

.avatar {
  width: 8em;
  border-radius: 8em;
}

.twitter {
  margin: 1em 0;
}

.twitter cite {
  opacity: 0.5;
  font-size: 0.75em;
}

/*
-------------
MEDIA QUERIES
-------------
*/

@media (min-width: 768px) {
  :root {
    font-size: 115%;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 120%;
  }
}
