/*
--------------
GLOBAL & RESET
--------------
*/

:root {
  font-size: 110%;
}

body {
  margin: 0;
  color: #222;
  font-family: "adobe-garamond-pro", serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

/*
----------
TYPOGRAPHY
----------
*/

a {
  color: #1e1e1e;
}

a:hover {
  color: #3e3e3e;
}

ul {
  padding-left: 1em;
}

.page-title {
  font-weight: 400;
}

.section-title {
  color: #eb7966;
  font-style: italic;
}

.section-subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*
------------------
LAYOUT & STRUCTURE
------------------
*/

.wrapper {
  margin: 0 auto;
  padding: 2em;
}

header,
section {
  margin-bottom: 8em;
}

footer {
  font-size: 0.75em;
}

.avatar {
  border-radius: 8em;
  width: 8em;
}

/*
-------------
MEDIA QUERIES
-------------
*/

@media (min-width: 600px) {
  :root {
    font-size: 115%;
  }
  .wrapper {
    padding: 4em;
    max-width: 30em;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 120%;
  }
}
